@font-face {
    font-family: "Russo-Regular";
    src: url("./../../fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "Source-Medium";
    src: url("./../../fonts/SourceCodePro-Medium.ttf");
}

@font-face {
    font-family: "Source-Bold";
    src: url("./../../fonts/SourceCodePro-Bold.ttf");
}