$max-component-width: 114rem;

$standard-box-shadow: 0 1rem 2rem white,  0 -1rem 2rem white,  1rem 0 2rem white,  -1rem 0 2rem white;
$past-box-shadow: 0 1rem 2rem lightgray,  0 -1rem 2rem lightgray,  1rem 0 2rem lightgray,  -1rem 0 2rem lightgray;
$future-box-shadow: 0 1rem 3.5rem white,  0 -1rem 3.5rem white,  3.5rem 0 3.5rem white,  -3.5rem 0 3.5rem white;
