.display-section {
    background-color: #fff;
    height: 60vh;
    width: 100%;
    border-radius: 2rem;
    max-width: 160rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: opacity 4s;

    &--appearing {
        opacity: 1;
    }

    &--disappearing {
        opacity: 0;
    }

    .display-section__body {
        height: inherit;
        width: inherit;
        display: flex;

        .display-section__half {
            height: inherit;
            width: 50%;
            color: black;
        }

        .display-section__left {
            height: 95%;
            border-radius: 2rem;
            background-image: url("./../../images/dubai.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
            margin: 10px;
        }

        .display-section__right {
            padding: 5rem;
            font-size: 1.5rem;
        }
    }
}
