.feature-section {
    background-color: blue;
    height: 25vh;
    max-width: 114rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 4s;

    &--appearing {
        opacity: 1;
    }

    &--disappearing {
        opacity: 0;
    }
}