.advancing-border {
    position: absolute;
    border: 3px solid black;

    &__pointer {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: rgb(250, 235, 125);
        animation-name: laser-pointer-glow;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: opacity .3s;

        &--top {
            left: -.6rem;
            top: -.5rem;
        }

        &--bottom {
            right: -.6rem;
            bottom: -.5rem;
        }

        &--right {
            right: -.5rem;
            top: -.6rem;
        }

        &--left {
            left: -.5rem;
            top: -.6rem;
        }

        &--true {
            opacity: 1;
        }

        &--false {
            opacity: 0;
        }
    }

    &--top {
        top: 0;
        left: 0;

        &-glowing {
            border: 3px solid red;
            width: 100%;
            animation-name: vertical-laser-box-glow;
            animation-duration: 2s;
            animation-timing-function: linear;
        }
    }

    &--right {
        top: 0;
        right: 0;

        &-glowing {
            border: 3px solid red;
            height: 100%;
            animation-name: horizontal-laser-box-glow;
            animation-duration: 2s;
            animation-timing-function: linear;
        }
    }

    &--bottom {
        bottom: 0;
        right: 0;

        &-glowing {
            border: 3px solid red;
            width: 100%;
            animation-name: vertical-laser-box-glow;
            animation-duration: 2s;
            animation-timing-function: linear;
        }
    }

    &--left {
        bottom: 0;
        left: 0;

        &-glowing {
            border: 3px solid red;
            height: 100%;
            animation-name: horizontal-laser-box-glow;
            animation-duration: 2s;
            animation-timing-function: linear;
        }
    }

    &--invisible {
        width: 0%;
    }

    &--completed-horizontal {
        border: 3px solid red;
        width: 100%;
    }

    &--completed-vertical {
        border: 3px solid red;
        height: 100%;
    }

    &--printing-horizontal {
        border: 3px solid red;
        animation-name: horizontal-laser-draw;
        animation-duration: 2.5s;
        animation-timing-function: linear;
    }

    &--printing-vertical {
        border: 3px solid red;
        animation-name: vertical-laser-draw;
        animation-duration: 2.5s;
        animation-timing-function: linear;
    }
}

.laserbox {
    min-height: 60rem;

    &__content-wrapper {
        padding: 5rem;
        font-size: 1.8rem;
        opacity: 0;
        height: 60rem;
    
        h2 {
            font-size: 1.8rem;
        }
    
        &--appearing {
            animation-name: content-appearing;
            animation-duration: 3s;
            animation-timing-function: linear;
        }
    
        &--visible {
            opacity: 1;
        }

        &--zombiecat {
            padding: 3rem 5rem;
        }
    }

    &__content-section {
        background-size: cover;
        background-position: center 40%;
        background-repeat: no-repeat;
        transition: all 2s;

        &--cat {
            background-image: linear-gradient(to right, black, transparent, black), linear-gradient(to bottom, black, transparent, black 100%), url("./../../images/zombi.jpg");
            height: 100%;
        }

        &--cat-stars {
            background-size: contain;
            background-image: url("./../../images/zombi-in-the-stars.png");
            background-position: center;
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
    }

    &__paragraph {
        &--italic {
            font-style: italic;
            font-size: 1.5rem !important;
        }

        &--huge {
            font-size: 4rem !important;
        }

        &--shiny {
            text-shadow: 
                3rem 1rem 3rem rgba(169, 169, 169, 0.5), 
                -3rem 1rem 3rem rgba(169, 169, 169, 0.5), 
                0 -0.25rem 3rem rgba(169, 169, 169, 0.5);
        }
    }

    &__chunk > * {
        display: inline;
    }

    &__mention {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
    }

    &__link > * {
        color: white;
        text-decoration: none;
        cursor: pointer;
        animation-name: link-blip;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &__link {
        position: relative;

        .link__text {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            padding: 5rem 0;
            transition: opacity 2s;

            &--true {
                opacity: 1;
                z-index: 1;
            }
            &--false {
                opacity: 0;
                z-index: -1;
            }

            &--whatsapp {
                width: 300%;
            }
            &--linkedin {
                width: 200%;
            }
            &--email {
                width: 250%;
            }
            &--github {
                width: 290%;
            }
        }
    }

    &__logoBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 3rem auto 0;
    }

    &__logoItem {
        width: 10rem;
        transition: all 2s;

        &--tiny {
            width: 3rem;
        }

        &--small {
            width: 5rem;
        }
        
        &--big {
            width: 13rem;
        }

        &--extra-big {
            width: 20rem;
        }

        &--huge {
            width: 30rem;
        }

        &--gone-right {
            transform: translateX(180%);
            opacity: 0;
        }
        &--returned-right {
            transform: translateX(0%);
            opacity: 1;
        }
        &--gone-left {
            transform: translateX(-180%);
            opacity: 0;
        }
        &--returned-left {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    &__button {
        display: block;
        margin: 0 auto;
        background-color: transparent;
        border: none;
        outline: none;
        pointer-events: none;
        transition: all 2s;

        img {
            width: 100px;
            transition: all .5s;
        }

        .btn-enabled {
            pointer-events: initial;
            animation-name: catbtn-blip;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            &:hover {
                cursor: pointer;
                animation: none;
            }
        }

        .btn-pressed {
            width: 65px;
        }
    }
}