.slider-section {
    max-width: 160rem;
    height: 10vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 4s;

    &--appearing {
        opacity: 1;
    }

    &--disappearing {
        opacity: 0;
    }

    input, output {
        display: block;
    }

    .slider--big {
    
    }
}
