.welcomeSeal__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcomeSeal__heading img {
    width: 50%;
}

.welcomeSeal__heading h1 {
    font-family: "Russo-Regular";
    font-style: italic;
    font-size: 3rem;
    text-shadow: 
        3rem 1rem 4rem rgba(darkgrey, .5),
        -3rem 1rem 4rem rgba(darkgrey, .5),
        0 -.25rem 4rem rgba(darkgrey, .5);
}

.welcomeSeal__touchPoint {
    position: absolute;
    height: 10%;
    width: 6%;
    background-color: transparent;

    &--p1 {
        top: 40%;
        left: 40%;
    }

    &--p2 {
        top: 40%;
        right: 40%;
    }

    &--p3 {
        top: 60%;
        left: 47%;
    }

    &:hover {
        cursor: pointer;
    }
}

.welcomeSeal__subtitle {
    margin-top: .2rem;
}